/* ###################### */
/* © Jurek Baumann - 2018 */
/* ###################### */

/* simple CSS RESET */
/* ################ */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    }
    
    *, *:before, *:after {
    box-sizing: inherit;
    }
    
    a {
        font-style: normal;
        text-decoration: none;
        display: block;
    }

    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    }
    
    ol, ul {
    list-style: none;
    }
    
    img {
    max-width: 100%;
    height: auto;
    }
    
    /* Fix styling issues on mobile safari */
    textarea,
    input[type="text"],
    input[type="button"],
    input[type="submit"],
    input[type="checkbox"],
    .input-checkbox {
      appearance: none;
      -webkit-appearance: none;
      border-radius: 0;
    }

    /* Hide checkbox in IE11 */
    input::-ms-check {
        opacity: 0;
    }

    /* ############ */
    /* Mobile first */
    /* ############ */
    
    /* General */
    /* ####### */
    
    /* General page layout */
    .page-content {
        display: flex;
        flex-direction: column;
    }

    /* Font-Hack */
    @font-face {
        font-family: 'Hack';
        src: url('../fonts/Hack-Bold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Hack-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Hack-Bold.svg#Hack-Bold') format('svg'); /* Legacy iOS */
    }

    /* Never shrink body below this */
    body {
        min-width: 14.5rem;
    }

    /* Only show video when actually visible */
    video {
        display: none;
    }
    
    figure {
        height: 11rem;
        margin: 0.1875rem;
        background-size: cover;
        background-position: center;

    }

    /* Page Header */
    /* ########### */
    
    .page-header {
        height: 4rem;
        line-height: 4rem;
        background-image: url(../img/small/companylogoBG.jpg);
        background-size: cover;
    }
    
    .page-header a {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        
    }
    .page-header h1 {
        margin: 0 auto;
        font-family: Hack;
    }

    /* Horizontal Navigation */
    /* ##################### */
    
    /* Hide nav ul by default: Enabled on large devices via media querry */
    /* or when the hamburger button is pressed. */
    #nav {
        display: none;    
    }

    input[type=checkbox] {
        position: absolute;
        z-index: 15;
        top: 4.375rem;
        left: .375rem;
        width: 1.825rem;
        height: 2rem;
    }
    
    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ #nav {
        display: flex;
        
    }

    .main-nav {
        height: 2.8rem;
        background: #707070;
        border: .25rem solid #fff;
        line-height: 4rem;
    }

    #nav {
        position: absolute;
        width: 100%;
        top: 4rem;
        left: 0;
        z-index: 3;
        text-align: center;
        /* line-height: 5rem; */
        border: .25rem solid #F5F5F5;
        flex-direction: column;
        /* background: rgba(38, 153, 251,.9); */
        background: #707070;
        margin: 0 auto;
    }

    #nav li a {
        text-transform: uppercase;
        font-size: 1.25rem;
        color: #fff;
        background: #2699FB;
        /* text-decoration: none; */
        border: .125rem solid white;
        margin: 0.5rem 2.125rem;
        max-height: 4rem;
        min-width: 4rem;
    }
    
    #nav li a:hover {
        background: #fff;
        color: #2699FB;
    }

    /* Hamburger in CSS only! */
    #hamburger {
        position: relative;
        padding-left: 1.25em;
        z-index: 5;
    }

    #hamburger::before {
        content: "";
        position: absolute;
        left: .125rem;
        top: .25rem;
    
        width: 1.75rem;
        height: .45rem;
        background: #fff;
        box-shadow: 
            0 .66em 0 0 #fff,
            0 1.33em 0 0 #fff;
    }
    
    /* Articles */
    /* ######## */
    
    article {
        background: #2699FB;
        color: #fff;
        height: 6.25rem;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
    }
    
    /* Footer */
    /* ###### */
    
    footer {
        height: 3rem;
        line-height: 3rem;
        color: #fff;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer h3 {
        font-size: 0.8rem;
    }
    
    /* Index page */
    /* ########## */
    
    .image1{
        background-image: url(../img/small/product3.jpg);
    }
    .image2{
        background-image: url(../img/small/product8.jpg);
    }
    .image3{
        background-image: url(../img/small/product6.jpg);
    }
    .image4{
        background-image: url(../img/small/product9.jpg);
    }

    /* Hide elements that are not shown in the smallest breakpoint */
    .poster2, .poster3, .poster4 {
        display: none;
    }
    
    /* CSS GRID INDEX */
    /* ######## */
    
    .image1 {
        grid-area: img1;
    }
    .image2 {
        grid-area: img2;
    }
    .image3 {
        grid-area: img3;
    }
    .image4 {
        grid-area: img4;
    }
    
    .poster1 {
        grid-area: poster1;
    }
    .poster2 {
        grid-area: poster2;
    }
    .poster3 {
        grid-area: poster3;
    }
    .poster4 {
        grid-area: poster4;
    }
    
    /* Products page */
    /* ############# */
    
    .products h2:nth-of-type(1){
        display: none;
    }

    .content-product {
        background: #fff;
    }
    
    .banner {
        max-width: 100%;
        height: 3rem;
        grid-area: poster1;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 12.5rem);
        grid-gap: 1rem; 
        margin: 1.25rem;
    }
    
    .gallery a {
        background-size: cover;
        background-position: center;
    }
    
    /* Gallery images */
    /* ############## */
    
    #img1 {
        background-image: url(../img/small/product1.jpg);
    }
    #img2 {
        background-image: url(../img/small/product2.jpg);
    }
    #img3 {
        background-image: url(../img/small/product3.jpg);
    }
    #img4 {
        background-image: url(../img/small/product4.jpg);
    }
    #img5 {
        background-image: url(../img/small/product5.jpg);
    }
    #img6 {
        background-image: url(../img/small/product6.jpg);
    }
    #img7 {
        background-image: url(../img/small/product7.jpg);
    }
    #img8 {
        background-image: url(../img/small/product8.jpg);
    }
    #img9 {
        background-image: url(../img/small/product9.jpg);
    }
    #img10 {
        background-image: url(../img/small/product10.jpg);
    }
    #img11 {
        background-image: url(../img/small/product11.jpg);
    }
    #img12 {
        background-image: url(../img/small/product12.jpg);
    }
    
    /* Contact Page */
    /* ############ */
    .content-contact {
        background: #F5F5F5;
    }
    
    .content-contact h3 {
        display: none;
    }
    
    fieldset {
        padding: 0;
        margin: 1rem 0;
        border: 0.125rem solid #707070;
        background: #fff;
        font-size: 1rem;
    }
    
    select {
        width: 100%;
        font-size: 1rem;
        height: 1.5rem;
        margin-top: 0.625rem;
        color: #707070;
        border: 0.125rem solid #707070; 
    }
    
    .topic {
        position: relative;
        justify-content: space-between;
        color: #AAA;
        padding: 0.3125rem;
        min-width: 12.5rem;
    }
      
    .topic:after {
        content: '˅';
        font-family: Arial, Helvetica, sans-serif;
        color: #707070;
        text-align: center;
        line-height: 1.25rem;
        top: 2.1rem;
        right: 0.3125rem;
        height: 1.35rem;
        margin: 0;
        padding: 0;
        background: #F5F5F5;
        border: 0.0625rem solid #707070;
        position: absolute;
        pointer-events: none;
        overflow: hidden;
        box-sizing: border-box;
    }
     
    .topic select {
        appearance: none;
        -webkit-appearance: none;
    }
    
    input, textarea {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        border: 0rem solid transparent;
        width: 100%;
        height: 1.5rem;
        padding: 0;
        padding-left: 0.3125rem;
        margin: 0;
    }
    
    textarea {
        resize: vertical;
        min-height: 5rem;
        padding-top: 0.3125rem;
        display: block;
    }
    
    input::placeholder, textarea::placeholder {
        font-size: 1rem;
        color: #AAA;
    }
    
    input[type=submit] {
        height: 2rem;
        font-size: 1.25rem;
        border: 0.125rem solid rgba(0, 0, 0, .25);
        background: #2699FB;
        color: #fff;
        margin: 0 auto;
        box-sizing: border-box;
        /* margin: 0.125rem; */
        overflow: hidden;
        right: -0.125rem;
    }
    
    input[type=submit]:hover {
        cursor: pointer;
        color: #2699FB;
        background: #fff;
        border-color: #2699FB;
    }

    input[type=submit]:active {
        color: #444;
    }

    form {
        margin: 1.5rem;
        overflow: hidden;
        margin-bottom: 0.625rem;
    }

    /* Media Querries */
    /* ############## */

    /* Tablet */
    @media screen and (min-width: 361px) {

        figure {
            height: 16rem;
        }
    
        figure:nth-of-type(n+4) {
            margin: 0;
        } 
        
        .page-header {
            height: 12.5rem;
            line-height: 12.5rem;
            display: flex;
            align-content: center;
            align-items: center;
        }

        .page-header h1 a {
            font-size: 2.9rem;
            margin: 0 auto;
    
            /* add outline to h1 */
            -webkit-text-stroke: 0.125rem black;
        }

        .main-nav {
            border: 0.0625rem solid #fff;
            line-height: 2.8rem;
        }
    
        /* Horizontal navigation */
        #nav {
            position: relative;
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            max-width: 30rem;
            background: none;
            border: none;
            margin: 0 auto;
        }

        #nav li a {
            border: none;
            margin: 0;
            background: none;
        }

        #nav li a:hover {
            background: none;
        }

        /* Hide hamburger icon + checkbox in favor of list navigation */
        #hamburger, input[type="checkbox"] {
            display: none;
        }
    
        .image3 {
            display: none;
        }
    
        /* unhide last article */
        article:nth-of-type(4) {
            display: flex;
        }
    
        article {
            height: 10rem;
        }
    
        article h2 {
            font-size: 2.75rem;
            max-width: 24rem;
        }
    
        /* target all but the first article h2 */
        /* and set a smaller max width to force a line break */
        article:not(:first-of-type) h2 {
            max-width: 24rem;
        }
    
        footer h3 {
            font-size: 1.33rem;
        }
    
        .content {
            display: grid;
            grid-area: content;
            grid-template-areas:
                "poster1 poster1"
                "img1 img2"
                "poster4 poster4"
                "img4 img4";
        }
    
        /* Products page */
        /* ############# */
    
        .banner {
            display: none;
        }
    
        .gallery {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(6, 12.5rem);
        }
    
        /* Contact page */
        /* ############ */
    
        /* select second and third fieldset */
        form fieldset:nth-of-type(-n+3):not(:nth-of-type(1)) {
            height: 4rem;
        }
    
        /* Split these in two to make edge happy :) */
        input::placeholder, textarea::placeholder {
            font-size: 2rem;
        }
    
         input, textarea, fieldset, select, input[type=submit] {
            font-size: 2rem;
        }
    
        .topic {
            padding: 1rem;
            height: 8rem;
        }
    
        input, textarea {
            padding-left: 1rem;
        }
        input[type=submit] {
            height: 3rem;
        }
    
        input {
            height: 100%;
        }
    
        .topic:after {
          line-height: 2.9rem;
          height: 2.9rem;
          top: 4rem;
          right: 1rem;
        }
        textarea {
            height: 12rem;
        }
    
        select {
            height: 3rem;
        }
    }
    
    /* Additional breakpoint to smooth things out */
    @media screen and (min-width: 651px) {

        figure {
        height: 27rem;
        }

        article {
            height: 15rem;
        }

        article h2 {
            font-size: 4.5rem;
            max-width: 39rem;
        }

        .page-header h1 a {
            font-size: 5.25rem;
            -webkit-text-stroke: 0.1875rem black;
        }
    }

    /* Desktop */
    @media screen and (min-width: 961px) {
    
        /* enable background video */
        video {
            display: initial;
            position: absolute;
            z-index: -1;
            max-width: 100%;
        }

        figure {
            height: 25rem;
            margin: 0;
        }
        
        .page-header {
            background-image: url(../img/companylogoBG.jpg);
        }

        .main-nav {
            height: 3.75rem;
            line-height: 3.75rem;
        }

        .main-nav ul li a {
            font-size: 1.8rem;
        }

        .content {
            display: block;
        }
    
        .poster2, .poster3 {
            display: flex;
        }
        .image3 {
            display: block;
        }
        article {
            height: 14rem;
        }

        /* Force line break while keeping text centered */
        article h2 {
            max-width: 50rem;
        }
    
        .page-content {
            max-width: 60rem;
            margin: 0 auto;
        }
    
        footer {
            height: 3.5rem;
        }

        footer h3 {
            font-size: 2rem;
        }

        /* Products page */
        /* ############# */
    
        .banner {
            display: flex;
            height: 7rem;
        }
    
        .gallery {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4, 12.5rem);
        }
        .products h2:first-of-type {
            display: block;
        }
        .products h2:nth-of-type(2){
            display: none;
        }
        
        /* Contact page */
        /* ############ */
        .content-contact h3 {
            color: #707070;
            font-size: 2rem;
            display: block;
            margin: 1.75rem;
            margin-bottom: 0;
        }
    
        form {
            margin: 1rem 4rem;
            margin-top: 0;
        }
    
        .topic {
            display: block;
            padding: 0;
            padding-left: 1rem;
            height: 4rem;
            line-height: 4rem;
        }
    
        .topic::after {
          line-height: 2.9rem;
          height: 2.9rem;
          top: 0.42rem;
          right: 1.25rem;
        }
    
        select {
            display: block;
            width: 32.5rem;
            margin: 0.375rem 1.25rem;
            padding: 0;
            float: right;
        }
        label {
            width: 18.75rem;
            line-height: 3rem;
            margin: 0;
            padding: 0;
        }

        input[type=submit] {
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }

/* ########### */
/* IE 11 fixes */
/* ########### */

@media all and (-ms-high-contrast:none) {

    .content {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 6.375rem 11.375rem 11.375rem 11.375rem 11.375rem;
    }

    .poster1 {
        -ms-grid-row: 1;
    }

    .image1 {
        -ms-grid-row: 2;
    }

    .image2 {
        -ms-grid-row: 3;
    }

    .image3 {
        -ms-grid-row: 4;
    }

    .image4 {
        -ms-grid-row: 5;
    }
}

/* Hide default select arrow */
select::-ms-expand {
    display: none;
}

.gallery {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
}

.gallery a {
    min-height: 200px;
    margin: .5rem 0;
}

#img1 {
    -ms-grid-row: 1;
}
#img2 {
    -ms-grid-row: 2;
}
#img3 {
    -ms-grid-row: 3;
}
#img4 {
    -ms-grid-row: 4;
}
#img5 {
    -ms-grid-row: 5;
}
#img6 {
    -ms-grid-row: 6;
}
#img7 {
    -ms-grid-row: 7;
}
#img8 {
    -ms-grid-row: 8;
}
#img9 {
    -ms-grid-row: 9;
}
#img10 {
    -ms-grid-row: 10;
}
#img11 {
    -ms-grid-row: 11;
}
#img12 {
    -ms-grid-row: 12;
}

@media all and (-ms-high-contrast:none) and (min-width:361px) {
    
    /* Replace Company logo with SVG to have a stroke effect in IE */
    h1 a {  
        visibility: hidden;
    }
    h1 {
        background-image: url(../img/logo.svg);
    }

    .content {
        -ms-grid-columns: 1fr 1fr;

        /* account for margin */
        -ms-grid-rows: 10rem 16.375rem 10rem 16rem;
    }
    .poster1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .poster4 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .image1 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .image2 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }
    .image4 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    form {
        margin-top: 0;
    }
    .gallery {
       -ms-grid-columns: 1fr 1fr;
       -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .gallery a {
        margin: 0.5rem;
    }

    #img1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #img2 {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    #img3 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    #img4 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    #img5 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #img6 {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    #img7 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    #img8 {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
    #img9 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    #img10 {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }
    #img11 {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }
    #img12 {
        -ms-grid-row: 6;
        -ms-grid-column: 2;
    }
}

@media all and (-ms-high-contrast:none) and (min-width:651px) {
    .content {
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-rows: 15rem 27.375rem 15rem 27rem;
    }
}
@media all and (-ms-high-contrast:none) and (min-width:961px) {

    body {
        background-image: url(../img/background.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 100%;
    }

    .content {
        -ms-grid-columns: 60rem;
        -ms-grid-rows: 14rem 25rem 14rem 25rem 14rem 25rem 14rem 25rem;
    }

    .poster1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .poster2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .poster3 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .poster4 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .image1 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .image2 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .image3 {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .image4 {
        -ms-grid-row: 8;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .gallery {
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr;
        margin: .5rem;
     }
     .gallery a {
         margin: .5rem;
     }

     #img1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #img2 {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    #img3 {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    #img4 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    #img5 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    #img6 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    #img7 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #img8 {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    #img9 {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    #img10 {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    #img11 {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
    #img12 {
        -ms-grid-row: 4;
        -ms-grid-column: 3;
    }
}