/* ###################### */
/* © Jurek Baumann - 2018 */
/* ###################### */

/* simple CSS RESET */
/* ################ */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    }
    
    *, *:before, *:after {
    box-sizing: inherit;
    }
    
    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    }
    
    ol, ul {
    list-style: none;
    }
    
    img {
    max-width: 100%;
    height: auto;
    }
    
    /* Fix styling issues on mobile safari */
    textarea,
    input[type="text"],
    input[type="button"],
    input[type="submit"],
    .input-checkbox {
      -webkit-appearance: none;
      border-radius: 0;
    }
    /* ############ */
    /* Mobile first */
    /* ############ */
    
    /* General */
    /* ####### */
    
    /* Font-Hack */
    @font-face {
        font-family: 'Hack';
        src: url('../fonts/Hack-Bold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Hack-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Hack-Bold.svg#Hack-Bold') format('svg'); /* Legacy iOS */
    }

    body {
        min-width: 14.5rem;
    }

    video {
        display: none;
    }
    
    /* Setup page elements in a simple grid */
    .main-grid {
        display: grid;
    
        grid-template-areas:
            "header"
            "navi"
            "content"
            "footer";
    }
    
    /* Page Header */
    /* ########### */
    
    .page-header {
        height: 4rem;
        line-height: 4rem;
        background-image: url(../img/small/companylogoBG.jpg);
        background-size: cover;
        grid-area: header;
    }
    
    .page-header h1 {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        font-family: Hack;
    }
    
    /* Horizontal Navigation */
    /* ##################### */
    
    /* Hide nav ul by default: Enabled on large devices via media querry */
    .main-nav ul {
        display: none;    
    }
    
    .main-nav {
        height: 2.8rem;
        background: #707070;
        border: .25rem solid #fff;
        grid-area: navi;
    }
    
    .main-nav ul li a {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
    }
    
    /* Hamburger in CSS only! */
    #hamburger {
        position: relative;
        padding-left: 1.25em;
        z-index: 5;
    }
    #hamburger::before {
        content: "";
        position: absolute;
        left: 0.125rem;
        top: .25rem;
    
        width: 1.75rem;
        height: 0.45rem;
        background: #fff;
        box-shadow: 
            0 0.66em 0 0 #fff,
            0 1.33em 0 0 #fff;
    }
    
    /* Articles */
    /* ######## */
    
    article {
        background: #2699FB;
        color: #fff;
        height: 6.25rem;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
    }
    
    /* Images */
    /* ###### */
    
    img {
        display: block;
        border: 0.1875rem solid #fff;
        flex: 1;  
        max-height: 10.625rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    
    }
    
    /* Footer */
    /* ###### */
    
    footer {
        height: 3rem;
        line-height: 3rem;
        color: #fff;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: footer;
    }

    footer h3 {
        font-size: 0.8rem;

    }
    
    /* Index page */
    /* ########## */
    
    /* Hide elements that are not shown in the smallest breakpoint */
    .poster2, .poster3, .poster4 {
        display: none;
    }
    
    /* CSS GRID INDEX */
    /* ######## */
    
    .image1 {
        grid-area: img1;
    }
    .image2 {
        grid-area: img2;
    }
    .image3 {
        grid-area: img3;
    }
    .image4 {
        grid-area: img4;
    }
    
    .poster1 {
        grid-area: poster1;
    }
    .poster2 {
        grid-area: poster2;
    }
    .poster3 {
        grid-area: poster3;
    }
    .poster4 {
        grid-area: poster4;
    }
    
    /* Products page */
    /* ############# */
    
    .products h2:nth-of-type(1){
        display: none;
    }

    .content-product {
        background: #fff;
    }
    
    .banner {
        max-width: 100%;
        height: 3rem;
        grid-area: poster1;
    }
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 12.5rem);
        grid-gap: 1rem; 
        margin: 1.25rem;
        
    }
    
    .gallery a {
        background-size: cover;
        background-position: center;
    }
    
    /* Gallery images */
    /* ############## */
    
    #img1 {
        background-image: url(../img/small/product1.jpg);
    }
    #img2 {
        background-image: url(../img/small/product2.jpg);
    }
    #img3 {
        background-image: url(../img/small/product3.jpg);
    }
    #img4 {
        background-image: url(../img/small/product4.jpg);
    }
    #img5 {
        background-image: url(../img/small/product5.jpg);
    }
    #img6 {
        background-image: url(../img/small/product6.jpg);
    }
    #img7 {
        background-image: url(../img/small/product7.jpg);
    }
    #img8 {
        background-image: url(../img/small/product8.jpg);
    }
    #img9 {
        background-image: url(../img/small/product9.jpg);
    }
    #img10 {
        background-image: url(../img/small/product10.jpg);
    }
    #img11 {
        background-image: url(../img/small/product11.jpg);
    }
    #img12 {
        background-image: url(../img/small/product12.jpg);
    }
    
    /* Contact Page */
    /* ############ */
    .content-contact {
        background: #F5F5F5;
    }
    
    .content-contact h3 {
        display: none;
    }
    
    fieldset {
        padding: 0;
        margin: 1rem 0;
        border: 0.125rem solid #707070;
        background: #fff;
        font-size: 1rem;
    
    }
    
    select {
        width: 100%;
        font-size: 1rem;
        height: 1.5rem;
        margin-top: 0.625rem;
        color: #707070;
        border: 0.125rem solid #707070; 
    }
    
    .topic {
        position: relative;
        justify-content: space-between;
        color: #AAA;
        padding: 0.3125rem;
        min-width: 12.5rem;
      }
      
      .topic:after {
          content: '˅';
          font-family: Arial, Helvetica, sans-serif;
          color: #707070;
          text-align: center;
          line-height: 1.25rem;
          top: 2.1rem;
          right: 0.3125rem;
          height: 1.35rem;
          margin: 0;
          padding: 0;
          background: #F5F5F5;
          border: 0.0625rem solid #707070;
          position: absolute;
          pointer-events: none;
          overflow: hidden;
          box-sizing: border-box;
      }
     
      .topic select {
          appearance: none;
          -webkit-appearance: none;
      }
    
    input, textarea {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        border: 0rem solid transparent;
        width: 100%;
        height: 1.5rem;
        padding: 0;
        padding-left: 0.3125rem;
        margin: 0;
    }
    
    textarea {
        resize: vertical;
        min-height: 5rem;
        padding-top: 0.3125rem;
        display: block;
    }
    
    input::placeholder, textarea::placeholder {
        font-size: 1rem;
        color: #AAA;
    
    }
    
    input[type=submit] {

        height: 2rem;
        font-size: 1.25rem;
        border: 0.125rem solid rgba(0, 0, 0, .2);
        background: #2699FB;
        color: #fff;
        margin: 0 auto;
        box-sizing: border-box;
        /* margin: 0.125rem; */
        overflow: hidden;
        right: -0.125rem;
    }
    
    form {
        margin: 1.5rem;
        overflow: hidden;
        margin-bottom: 0.625rem;
    }
    /* Media Querries */
    /* ############## */
    
    /* Tablet */
    @media screen and (min-width: 361px) {
    
        .page-header {
            height: 12.5rem;
            line-height: 12.5rem;
            display: flex;
            align-content: center;
            align-items: center;
            
        }
        .page-header h1 {
            font-size: 2.9rem;
            margin: 0 auto;
    
            /* add outline to h1 */
            -webkit-text-stroke: 0.125rem black;
    
        }
    
        /* Unhide navigation */
        .main-nav ul {
            display: flex;
            justify-content: space-around;
            justify-items: center;
            max-width: 30rem;
            margin: 0 auto;
        }
        .main-nav {
            border: 0.0625rem solid #fff;
            line-height: 2.8rem;
        }
    
        /* Hide hamburger icon in favor of list navigation */
        #hamburger {
            display: none;
        }
    
        .image3 {
            display: none;
        }
    
        /* unhide last article */
        article:nth-of-type(n+4) {
            display: flex;
        }
    
        article {
            height: 15rem;
        }
    
        article h2 {
            font-size: 2.75rem;
            max-width: 24rem;
        }
    
        /* target all but the first article h2 */
        /* and set a smaller max width to force a line break */
        article:not(:first-of-type) h2 {
            max-width: 24rem;
        }
        img {
            height: 16rem;
            max-height: 16rem;
        }
        /* remove border of last image */
        img:nth-of-type(n+4) {
            border: 0rem solid transparent;
        }
    
        footer h3 {
            font-size: 1.33rem;
        }
    
        .content {
            display: grid;
            grid-area: content;
            grid-template-areas:
                "poster1 poster1"
                "img1 img2"
                "poster4 poster4"
                "img4 img4";
        }
    
        /* Products page */
        /* ############# */
    
        .banner {
            display: none;
        }
    
        .gallery {
            grid-area: gallery;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(6, 12.5rem);
        }
    
        /* Contact page */
        /* ############ */
    
        /* select second and third fieldset */
        form fieldset:nth-of-type(-n+3):not(:nth-of-type(1)) {
            height: 4rem;
        }
    
        /* Split these in two to make edge happy :) */
        input::placeholder, textarea::placeholder {
            font-size: 2rem;
        }
    
         input, textarea, fieldset, select, input[type=submit] {
            font-size: 2rem;
        }
    
        .topic {
            padding: 1rem;
            height: 8rem;
        }
    
        input, textarea {
            padding-left: 1rem;
        }
        input[type=submit] {
            height: 3rem;
        }
    
        input {
            height: 100%;
        }
    
        .topic:after {
          line-height: 2.9rem;
          height: 2.9rem;
          top: 4rem;
          right: 1rem;
        }
        textarea {
            height: 12rem;
        }
    
        select {
            height: 3rem;
        }
    }
    
    /* Additional breakpoint to smooth things out */
    @media screen and (min-width: 651px) {
        
        article h2 {
            font-size: 4.5rem;
            max-width: 39rem;
        }
    
        img {
            height: 25rem;
            max-height: 25rem;
        }

        .page-header h1 {
            font-size: 5.5rem;
            -webkit-text-stroke: 0.1875rem black;
        }
    }

    /* Desktop */
    @media screen and (min-width: 961px) {
    
        /* enable background video */
        video {
            display: initial;
            position: absolute;
            z-index: -1;
            max-width: 100%;
        }
        .page-header {
            background-image: url(../img/companylogoBG.jpg);
        }

        .main-nav {
            height: 3.75rem;
            line-height: 3.75rem;
        }

        .main-nav ul li a {
            font-size: 1.8rem;
        }

        .content {
            display: block;
        }
    
        .poster2, .poster3 {
            display: flex;
        }
        .image3 {
            display: block;
        }
        article {
            height: 14rem;
        }
    
        img {
            border: 0 solid transparent;
            max-height: 25rem;
        }
    
        /* Force line break while keeping text centered */
        article h2 {
            max-width: 50rem;
        }
    
        .main-grid {
            max-width: 60rem;
            margin: 0 auto;
        }
    
        footer {
            height: 3.5rem;
        }

        footer h3 {
            font-size: 2rem;
        }

        /* Products page */
        /* ############# */
    
        .banner {
            display: flex;
            height: 7rem;
        }
    
        .gallery {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4, 12.5rem);
        }
        .products h2:first-of-type {
            display:initial;
        }
        .products h2:nth-of-type(2){
            display: none;
        }
        
        /* Contact page */
        /* ############ */
        .content-contact h3 {
            color: #707070;
            font-size: 2rem;
            display: block;
            margin: 1.75rem;
            margin-bottom: 0;
        }
    
        form {
            margin: 1rem 4rem;
            margin-top: 0;
        }
    
        .topic {
            display: block;
            padding: 0;
            padding-left: 1rem;
            height: 4rem;
            line-height: 4rem;
        }
    
        .topic::after {
          line-height: 2.9rem;
          height: 2.9rem;
          top: 0.42rem;
          right: 1.25rem;
        }
    
        select {
            display: block;
            width: 32.5rem;
            margin: 0.375rem 1.25rem;
            padding: 0;
            float: right;
        }
        label {
            width: 18.75rem;
            line-height: 3rem;
            margin: 0;
            padding: 0;
        }

        input[type=submit] {
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }